@media (min-width: 1200px) {
    .content-bx-nv {
        padding: 0px 20px;
        justify-content: center;
    }

    .content-max {
        display: flex;
        width: 100%;
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: none;
    }

    .sign-log {
        display: flex;
    }

    .content-sign-log {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        height: 30px;
    }


    .text-log-in {
        font-family: "Inter", sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        color: rgb(255, 255, 255);
    }

}