@media (min-width: 1200px) {
    .content-bx-nv {
        padding: 0px 20px;
        justify-content: center;
    }

    .content-menu-sign-log {
        display: flex;
    }

    .content-max {
        display: flex;
        width: 100%;
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;
    }

    .menu-toggle {
        display: none;
    }

    .sign-log {
        display: flex;
    }

    .content-sign-log {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        height: 30px;
    }


    .text-log-in {
        font-family: "Inter", sans-serif;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        color: rgb(255, 255, 255);
        cursor: pointer;
        transition: 0.3s;
    }

    .text-log-in:hover {
        opacity: 1;
    }

    .content-sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        padding: 6px 10px 7px;
        border-radius: 15px;
        height: 28px;
        width: 72px;
        cursor: pointer;
        transition: 0.3s;
    }

    .content-sign-in:hover {
        opacity: 0.6;
    }

    .text-sign-in {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -0.15px;
        line-height: 15px;
        white-space: nowrap;
        font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
    }


    .content-menu {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        left: 54px;
        height: 30px;
    }

    .text-nav-item-Product {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .text-nav-item-Product:hover {
        opacity: 1;
    }

    .text-nav-item-Teams {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .text-nav-item-Teams:hover {
        opacity: 1;
    }

    .text-nav-item-Resources {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .text-nav-item-Resources:hover {
        opacity: 1;
    }

    .text-nav-item-Community {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .text-nav-item-Community:hover {
        opacity: 1;
    }

    .text-nav-item-Support {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .text-nav-item-Support:hover {
        opacity: 1;
    }

    .nav-item-Enterprise {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .nav-item-Enterprise:hover {
        opacity: 1;
    }

    .nav-item-Pricing {
        font-family: "Inter", sans-serif;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 400;
        letter-spacing: -0.15px;
        line-height: 15px;
        opacity: 0.6;
        cursor: pointer;
        transition: 0.3s;
    }

    .nav-item-Pricing a {
        color: inherit;          
        text-decoration: none; 
    }

    .nav-item-Pricing:hover {
        opacity: 1;
    }

    .content-up-section-tw {
        position: relative;
        padding: 0;
        gap: 25px;
    }

    .section-tw {
        height: 95vh;
        align-items: center;
        justify-content: center;
        padding: 0px 20px;
    }

    .text-large {
        width: 374px;
        font-size: 85px;
        letter-spacing: -4.25px;
        line-height: 80.75px;
        top: 7px;
    }

    .content-section-tw {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 560px;
        max-width: 1200px;
    }

    .text-bxlarge-one {
        top: 1px;
    }

    .icon-bxlarge-one {
        top: 4px;
    }

    .text-bxlarge-tw {
        top: 0;
    }

    .icon-bxlarge-tw {
        top: 5px;
    }

    .text-bxlarge-thr {
        top: 1px;
    }

    .icon-bxlarge-thr {
        top: 2px;
    }

    .icon-bxlarge-f {
        top: 3px;
    }
    .text-bxlarge-f {
        top: 0px;
        white-space: nowrap;
    }

    .content-tw-button {
        top: 0;
    }

    .content-down-section-tw {
        width: 600px;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .box-video {
        width: 830px;
        height: 830px;
        align-items: center;
        justify-content: center;
    }


}