body {
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
}

.nav-all {
    position: fixed;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: skyblue;
}

.bx-nav {
    display: flex;
    padding: 0px 0px 0px 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}