@media (min-width: 810px) {
    .section-tw {
        padding: 0px 20px;
    }

    .content-up-section-tw {
        padding: 84px 0px 0px;
    }

    .text-large {
        width: 273px;
        font-size: 62px;
        font-weight: 400;
        letter-spacing: -3.1px;
        line-height: 62px;
    }


.icon-bxlarge-one {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: flex-start;
    width: 18px;
    height: 18px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M0 4C0 1.791 1.791 0 4 0h10c2.209 0 4 1.791 4 4v10c0 2.209-1.791 4-4 4H4c-2.209 0-4-1.791-4-4V4zm12.5 1v.667c0 1.841-1.492 3.333-3.333 3.333H8.833C6.992 9 5.5 7.508 5.5 5.667V5c0-.552-.448-1-1-1s-1 .448-1 1v.615C3.5 8.589 5.911 11 8.885 11h.23C12.089 11 14.5 8.589 14.5 5.615V5c0-.552-.448-1-1-1s-1 .448-1 1z'/%3E%3C/svg%3E") 
        no-repeat center / contain;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M0 4C0 1.791 1.791 0 4 0h10c2.209 0 4 1.791 4 4v10c0 2.209-1.791 4-4 4H4c-2.209 0-4-1.791-4-4V4zm12.5 1v.667c0 1.841-1.492 3.333-3.333 3.333H8.833C6.992 9 5.5 7.508 5.5 5.667V5c0-.552-.448-1-1-1s-1 .448-1 1v.615C3.5 8.589 5.911 11 8.885 11h.23C12.089 11 14.5 8.589 14.5 5.615V5c0-.552-.448-1-1-1s-1 .448-1 1z'/%3E%3C/svg%3E") 
        no-repeat center / contain;
}

.text-bxlarge-one {
    max-width: 100%;
}

.text-bxlarge-tw {
    max-width: 100%;
}


.text-bxlarge-thr {
    max-width: 100%;
}


.text-bxlarge-f {
    max-width: 100%;
}

.content-up-section-tw {
    gap: 25px;
}



}
