@media (min-width: 810px) {
    .content-up-section-tw {
        padding: 84px 0px 0px;
    }
    
    .text-large {
        width: 273px;
        font-size: 62px;
        font-weight: 400;
        letter-spacing: -3.1px;
        line-height: 62px;
    }


}
