@font-face {
    font-family: "GT Walsheim Pro Medium Regular";
    src: url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.eot");
    src: url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.svg#GT Walsheim Pro Medium Regular")format("svg");
}

@font-face {
    font-family: "inter Variable Placeholder", sans-serif;
    src: url("font/6kEeNyQwxT59TY7SpLEnehG2fc.woff2");
    font-optical-sizing: auto;
    font-weight: 400;   
    font-style: normal;
}


body {
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
}


.font-inter {
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;   
    font-style: normal;
}


.nav-all {
    position: relative;
    width: 100%;
    height: 64px;
    display: flex;
}

.bx-nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.content-bx-nv {
    display: flex;
    padding: 0px 0px 0px 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
}

.content-max {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.menu-toggle {
    display: flex;
    width: 70px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.menu-icon {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
}

.menu-icon__bar {
    width: 20px;
    height: 2px;
}

.menu-icon__bar-2 {
    width: 20px;
    height: 2px;
}


.brand-logo {
    position: relative;
    height: 26px;
}

.content-logo-text {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    height: 26px;
    width: min-content;
    position: relative;
}


.icon-logo {
    display: flex;
    image-rendering: pixelated;
    flex-shrink: 0;
    width: 16px;
    height: 24px;
    transition: 0.2s;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 24'%3E%3Cpath d='M 16 0 L 16 8 L 8 8 L 0 0 Z M 0 8 L 8 8 L 16 16 L 8 16 L 8 24 L 0 16 Z' fill='white'/%3E%3C/svg%3E");
}

.icon-logo:hover {
    opacity: 0.7;
}

.text-icon {
    display: none;
}

.sign-log {
    display: none;
}

.content-menu {
    display: none;
}


.content-text-buof {
    display: flex;
    width: 100%;
    max-width: 212px;
    height: 100%;
    min-height: 25px;
}

.text-buof {
    display: none;
}

.section-tw {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content-section-tw {
    position: relative;
    display: flex;
    width: 100%;
    padding: 50px 20px;
    gap: 10px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
}

.content-text-large-Pricing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-large-Pricing {
    position: relative;
    display: flex;
    font-family: "GT Walsheim Pro Medium Regular";
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -2.47px;
    line-height: 46.2px;
    top: 4px;
}

.content-text-small-tw {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text-small-tw {
    display: flex;
    text-align: center;
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.55px;
    line-height: 20.8px;
    color: rgba(255, 255, 255, 0.6);
    text-wrap: balance;
}

.th-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content-th-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.content-items-one {
    position: relative;
    display: flex;
    background: linear-gradient(#000 0%, #ffffff0f 100%);
    border-radius: 16px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 30px;
    box-shadow: inset 0 0 0 1px #ffffff1a;
}

.content-line-one-babu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.box-text-basic {
    position: relative;
    display: flex;
}

.box-text-basic {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.01px;
    line-height: 28px; 
    color: rgb(255, 255, 255);
    font-family: "Inter Variable", sans-serif;
}


.text-smallann {
    display: flex;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 10.4px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
}

.content-box-twitems-anbu {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}

.content-button-off-on {
    display: flex;
    width: 24px;
    height: 14px;
    border-radius: 16px;
    padding: 2px;
    background-color: rgb(0, 153, 255);
    justify-content: flex-end;
}

.button-off-on {
    position: relative;
    display: flex;
    width: 10px;
    height: 10px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px, rgb(255, 255, 255) 0px 0px 0px 1px inset;
}

.content-line-tw-tx {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.text-line-two {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 19.6px;
    font-family: "Inter Variable", sans-serif;
}

.content-line-thr {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.line--thr {
    background-color: #ffffff1a;
    height: 1px;
    width: 100%;
    position: relative;
}

.content-line-f {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 4px;
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
}

.tx10mny-line-f {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.01px;
    line-height: 23.4px;
    color: rgb(255, 255, 255);
}

.content-text-pmon-line-f {
    position: relative;
    display: flex;
    width: 100%;
    padding: 3px 0 0;
}

.text-pmon-line-f {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}

.content-line-fi {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.line--fi {
    background-color: #ffffff1a;
    height: 1px;
    width: 100%;
    position: relative;
}

.content-line-sseeini {
    position: relative;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.content-line-si,
.content-line-se,
.content-line-ei,
.content-line-ni {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
}

.text-line-si,
.text-line-se,
.text-line-ei,
.text-line-ni {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
}


.icon-line-si {
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.392 5.392L1.392 6.392C-0.541 8.325-0.541 11.459 1.392 13.392C3.325 15.325 6.459 15.325 8.392 13.392L9.392 12.392M12.392 9.392L13.392 8.392C15.325 6.459 15.325 3.325 13.392 1.392C11.459-0.541 8.325-0.541 6.392 1.392L5.392 2.392M5.892 8.892L8.892 5.892' fill='transparent' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' transform='translate(2.608 2.608)'/%3E%3C/svg%3E") 
    no-repeat center / contain;
    mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.392 5.392L1.392 6.392C-0.541 8.325-0.541 11.459 1.392 13.392C3.325 15.325 6.459 15.325 8.392 13.392L9.392 12.392M12.392 9.392L13.392 8.392C15.325 6.459 15.325 3.325 13.392 1.392C11.459-0.541 8.325-0.541 6.392 1.392L5.392 2.392M5.892 8.892L8.892 5.892' fill='transparent' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' transform='translate(2.608 2.608)'/%3E%3C/svg%3E") 
    no-repeat center / contain;
}

.icon-line-se {
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    -webkit-mask: url("data:image/svg+xml,%3Csvg display='block' role='presentation' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M1.167 3.267C2.226 3.055 3.055 2.226 3.267 1.167C3.318 0.912 3.682 0.912 3.733 1.167C3.945 2.226 4.774 3.055 5.833 3.267C6.088 3.318 6.088 3.682 5.833 3.733C4.774 3.945 3.945 4.774 3.733 5.833C3.682 6.088 3.318 6.088 3.267 5.833C3.055 4.774 2.226 3.945 1.167 3.733C0.912 3.682 0.912 3.318 1.167 3.267Z' fill='%23fff' transform='translate(13 0)' /%3E%3C/g%3E%3Cpath d='M6.552 9.69C8.135 9.373 9.373 8.135 9.69 6.552L10.389 3.056C10.522 2.388 11.478 2.388 11.611 3.056L12.31 6.552C12.627 8.135 13.865 9.373 15.448 9.69L18.944 10.389C19.612 10.522 19.612 11.478 18.944 11.611L15.448 12.31C13.865 12.627 12.627 13.865 12.31 15.448L11.611 18.944C11.478 19.612 10.522 19.612 10.389 18.944L9.69 15.448C9.373 13.865 8.135 12.627 6.552 12.31L3.056 11.611C2.388 11.478 2.388 10.522 3.056 10.389Z' fill='%23fff' transform='translate(-2 0)' /%3E%3C/svg%3E") 
    no-repeat center / contain;
    mask: url("data:image/svg+xml,%3Csvg display='block' role='presentation' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath d='M1.167 3.267C2.226 3.055 3.055 2.226 3.267 1.167C3.318 0.912 3.682 0.912 3.733 1.167C3.945 2.226 4.774 3.055 5.833 3.267C6.088 3.318 6.088 3.682 5.833 3.733C4.774 3.945 3.945 4.774 3.733 5.833C3.682 6.088 3.318 6.088 3.267 5.833C3.055 4.774 2.226 3.945 1.167 3.733C0.912 3.682 0.912 3.318 1.167 3.267Z' fill='%23fff' transform='translate(13 0)' /%3E%3C/g%3E%3Cpath d='M6.552 9.69C8.135 9.373 9.373 8.135 9.69 6.552L10.389 3.056C10.522 2.388 11.478 2.388 11.611 3.056L12.31 6.552C12.627 8.135 13.865 9.373 15.448 9.69L18.944 10.389C19.612 10.522 19.612 11.478 18.944 11.611L15.448 12.31C13.865 12.627 12.627 13.865 12.31 15.448L11.611 18.944C11.478 19.612 10.522 19.612 10.389 18.944L9.69 15.448C9.373 13.865 8.135 12.627 6.552 12.31L3.056 11.611C2.388 11.478 2.388 10.522 3.056 10.389Z' fill='%23fff' transform='translate(-2 0)' /%3E%3C/svg%3E") 
    no-repeat center / contain;
    
}

.icon-line-ei {
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    -webkit-mask: url("data:image/svg+xml,%3Csvg display='block' role='presentation' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 1.579C9.5 1.091 8.872 0.892 8.591 1.292L0.554 12.712C0.321 13.044 0.558 13.5 0.963 13.5H7C7.276 13.5 7.5 13.724 7.5 14V19.421C7.5 19.909 8.128 20.108 8.409 19.708L16.446 8.288C16.679 7.956 16.442 7.5 16.037 7.5H10C9.724 7.5 9.5 7.276 9.5 7V1.579Z' fill='%23fff' transform='translate(1.5 -0.5)' /%3E%3C/svg%3E") 
    no-repeat center / contain;
    mask: url("data:image/svg+xml,%3Csvg display='block' role='presentation' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 1.579C9.5 1.091 8.872 0.892 8.591 1.292L0.554 12.712C0.321 13.044 0.558 13.5 0.963 13.5H7C7.276 13.5 7.5 13.724 7.5 14V19.421C7.5 19.909 8.128 20.108 8.409 19.708L16.446 8.288C16.679 7.956 16.442 7.5 16.037 7.5H10C9.724 7.5 9.5 7.276 9.5 7V1.579Z' fill='%23fff' transform='translate(1.5 -0.5)' /%3E%3C/svg%3E") 
    no-repeat center / contain;
    
}

.icon-line-ni {
    position: relative;
    display: flex;
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    -webkit-mask: 
    url("data:image/svg+xml,%3Csvg%20display%3D%22block%22%20role%3D%22presentation%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M%2012.8%2012.8%20L%2016%2016%20M%207.2%200%20C%2011.176%200%2014.4%203.224%2014.4%207.2%20C%2014.4%2011.176%2011.176%2014.4%207.2%2014.4%20C%203.224%2014.4%200%2011.176%200%207.2%20C%200%203.224%203.224%200%207.2%200%20Z%22%20fill%3D%22transparent%22%20stroke-width%3D%222%22%20stroke%3D%22white%22%20stroke-linecap%3D%22round%22%20transform%3D%22translate(2%202)%22/%3E%3C/svg%3E") 
    alpha no-repeat center / contain,
    var(--framer-icon-mask, none);
    mask: 
    url("data:image/svg+xml,%3Csvg%20display%3D%22block%22%20role%3D%22presentation%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M%2012.8%2012.8%20L%2016%2016%20M%207.2%200%20C%2011.176%200%2014.4%203.224%2014.4%207.2%20C%2014.4%2011.176%2011.176%2014.4%207.2%2014.4%20C%203.224%2014.4%200%2011.176%200%207.2%20C%200%203.224%203.224%200%207.2%200%20Z%22%20fill%3D%22transparent%22%20stroke-width%3D%222%22%20stroke%3D%22white%22%20stroke-linecap%3D%22round%22%20transform%3D%22translate(2%202)%22/%3E%3C/svg%3E") 
    alpha no-repeat center / contain,
    var(--framer-icon-mask, none);
}

.box-content-line-te {
    display: flex;
    width: 100%;
    padding: 15px 0 0;
    align-items: center;
    justify-content: center;
}