@font-face {
    font-family: "GT Walsheim Pro Medium Regular";
    src: url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.eot");
    src: url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d4f20dfedfdf197ed0ac52b09bf25551.svg#GT Walsheim Pro Medium Regular")format("svg");
}

@font-face {
    font-family: "inter Variable Placeholder", sans-serif;
    src: url("font/6kEeNyQwxT59TY7SpLEnehG2fc.woff2");
    font-optical-sizing: auto;
    font-weight: 400;   
    font-style: normal;
}


body {
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
}


.font-inter {
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;   
    font-style: normal;
}


.nav-all {
    position: relative;
    width: 100%;
    height: 64px;
    display: flex;
}

.bx-nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.content-bx-nv {
    display: flex;
    padding: 0px 0px 0px 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
}

.content-max {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.menu-toggle {
    display: flex;
    width: 70px;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.menu-icon {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
}

.menu-icon__bar {
    width: 20px;
    height: 2px;
}

.menu-icon__bar-2 {
    width: 20px;
    height: 2px;
}


.brand-logo {
    position: relative;
    height: 26px;
}

.content-logo-text {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    height: 26px;
    width: min-content;
    position: relative;
}


.icon-logo {
    display: flex;
    image-rendering: pixelated;
    flex-shrink: 0;
    width: 16px;
    height: 24px;
    transition: 0.2s;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 24'%3E%3Cpath d='M 16 0 L 16 8 L 8 8 L 0 0 Z M 0 8 L 8 8 L 16 16 L 8 16 L 8 24 L 0 16 Z' fill='white'/%3E%3C/svg%3E");
}

.icon-logo:hover {
    opacity: 0.7;
}

.text-icon {
    display: none;
}

.sign-log {
    display: none;
}

.content-menu {
    display: none;
}


.content-text-buof {
    display: flex;
    width: 100%;
    max-width: 212px;
    height: 100%;
    min-height: 25px;
}

.text-buof {
    display: none;
}

.section-tw {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.content-section-tw {
    position: relative;
    display: flex;
    width: 100%;
    padding: 50px 20px;
    gap: 10px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
}

.content-text-large-Pricing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-large-Pricing {
    position: relative;
    display: flex;
    font-family: "GT Walsheim Pro Medium Regular";
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -2.47px;
    line-height: 46.2px;
    top: 4px;
}

.content-text-small-tw {
    display: flex;
    width: 100%;
    justify-content: center;
}

.text-small-tw {
    display: flex;
    text-align: center;
    font-family: "Inter Variable", "Inter", "Inter Variable Placeholder", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.55px;
    line-height: 20.8px;
    color: rgba(255, 255, 255, 0.6);
    text-wrap: balance;
}

.th-items {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content-th-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.content-items-one {
    position: relative;
    display: flex;
    background: linear-gradient(#000 0%, #ffffff0f 100%);
    border-radius: 16px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 30px;
    background-color: skyblue;
    box-shadow: inset 0 0 0 1px #ffffff1a;
}

.content-line-one-babu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.box-text-basic {
    position: relative;
    display: flex;
}

.box-text-basic {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.01px;
    line-height: 28px; 
    color: rgb(255, 255, 255);
    font-family: "Inter Variable", sans-serif;
}
